<h1>Posts</h1>

<ul>
  <% @posts.rank().each do |post| %>
    <li>
      <%= link_to post.title, post.link %>
      <%= form_for (post) do |f| %>
        <%= f.hidden_field(:votes, :value => post.votes + 1) %>
        <%= f.submit 'upvote' %>
      <% end %>
      <span><%= post.votes %> points</span>
      <%= link_to 'Add a comment', post_path(post) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new post", new_post_path %>
